/* CSS Document */
@at-root {
  @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); }
 }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

a, a:focus, a:active, a:hover, object, embed { outline: none; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; }

.row{margin:0px;}

@font-face {
    font-family: 'ClearSansBold';
    src: url('../fonts/ClearSansBold.eot');
    src: url('../fonts/ClearSansBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSansBold.woff') format('woff'),
         url('../fonts/ClearSansBold.ttf') format('truetype'),
         url('../fonts/ClearSansBold.svg#ClearSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   
@font-face {
    font-family: 'ClearSansRegular';
    src: url('../fonts/ClearSansRegular.eot');
    src: url('../fonts/ClearSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSansRegular.woff') format('woff'),
         url('../fonts/ClearSansRegular.ttf') format('truetype'),
         url('../fonts/ClearSansRegular.svg#ClearSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }

body{
font-family: 'ClearSansRegular';
background-image:url(../images/bg_body.jpg);
background-repeat:repeat-x;
background-color:#f0f0f0;
color:#313131;}

.pad-no{
padding:0px;}

#logo{
padding-top:48px;
padding-bottom:40px;}

#phone{
font-size:20px;
padding-top:36px;
font-family: 'ClearSansBold';}

span.glyphicon.glyphicon-earphone{color:#1393e7;}

#search-block{}

.btn-search, .btn-search:focus{
background-color:#FFF;
padding:19px;
height:75px;
margin-top:8px;
border-radius:0px;
border: 0px;
border-right-color:#dbdbdb;
border-right-width:1px; 
border-right-style:solid;}

input.search, input.search:focus{
background-color:#FFF;
line-height:75px;
height:75px;
border-color:white;
margin-top:8px;	
border: 0px;
border-radius: 0px;
-webkit-box-shadow: inherit;
box-shadow: inherit;
border-left-color:#dbdbdb; 
border-left-width:1px; 
border-left-style:solid;}


.btn-search-1, .btn-search-1:focus{
background-color:#4f4f4f;
padding:9px;
height:55px;
margin-top:8px;
border-radius:0px;
border: 0px;}

input.search-1, input.search-1:focus{
background-color:#4f4f4f;
line-height:55px;
height:55px;
border-color:white;
margin-top:8px;	
border: 0px;
border-radius: 0px;
-webkit-box-shadow: inherit;
box-shadow: inherit;
color:#CCC;}

.dgs{padding-bottom:20px;}


#login, #cart{
padding-right:0px;
height:75px;
margin-top:8px;
color:#313131;
font-size:12px;}

#login:hover, #cart:hover{
color:#1894c6;}
	
#login{
border-right-color:#dbdbdb;
border-right-width:1px; 
border-right-style:solid;
padding-right:10px;
padding-top:28px;
background-image:url(../images/login.png);
background-repeat:no-repeat;
background-position:5px 20px;}

#cart{
background-image:url(../images/cart.png);
background-repeat:no-repeat;
background-position:5px 15px;}

.total{
background-color:#1393e7; 
border-radius:13px;
width:26px;
height:26px;
text-align:center;
padding:3px;
color:#FFF;
margin-top:2px;
margin-left:10px;}

#line-1{
border-bottom-color:#dbdbdb;
border-bottom-style:solid;
border-bottom-width:1px;}

#line-2{
min-height:80px;
padding-top:15px;}

ul.nav{
float:right;}

ul.nav a{
font-size:18px;
font-family: 'ClearSansBold';
color:#313131;}

ul.nav a:hover{color:#FFF;}

ul.nav li a:hover{background-color:#1393e7;}

.img_box{
min-height:190px; 
background-repeat:no-repeat;
background-size:contain;
padding:25px;}

.img_box a h3{
padding:0px;
margin:0px;
color:#FFF;
padding-top:5px;
padding-bottom:15px;
font-size:18px;
font-family: 'ClearSansBold';
text-transform:uppercase;}


.img_box a:hover{
text-decoration:none;}

.pad-10{padding-top:10px;}

.navbar-header{font-size:18px;}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    padding-top: 15%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

#block_line_1{padding-top:40px; padding-bottom:30px;}

.title_block{font-size:25px;
font-family: 'ClearSansBold';
text-transform:uppercase;}

.pad-15{padding-left:15px;
padding-right:15px;}

img.img{border-width:1px; 
border-style:solid;
border-color:#d3d3d3;
box-shadow: 0px 1px 1px #dcdce6;}

.mg{margin-top:30px;}

.tema{padding:25px;
background-color:#FFF;
box-shadow: 0px 5px 5px #dcdce6;}

.data{color:#0a82e9;
font-size:16px;
font-family: 'ClearSansBold';}

.link{
padding-top:10px; 
padding-bottom:10px;
font-size:14px;}

.link a{
text-decoration:underline; 
color:#000;}

.link a:hover{color:#0a82e9;}

.text_news{text-align:justify;
font-size:12px;}

.btn.btn-default{background-image:url(../images/or.png);}

.pad-20{padding-top:20px;}

.mm{margin-top:50px;}
.nd{background-color:#424242; margin-top:80px;}

.content{padding-top:10px; font-size:16px;}
.content p{margin-top:5px; margin-bottom:5px; text-align:justify;}
.content ul{margin:0px; padding: 10px;}
.text-tr{text-transform:uppercase; font-family: 'ClearSansBold';}
.content ul li{list-style:none;}
.content h1{padding:0px; margin:0px; text-transform:uppercase; font-size:25px;font-family: 'ClearSansRegular';}



#footer{font-size:16px; color:#FFF; padding-top:40px; padding-bottom:40px;}

#footer a{text-decoration:none; color:#2eb2fe;}

.pp{padding-bottom:35px;}

#footer a.phone, #footer a.phone:hover{font-size:26px;
color:#FFF;}

#footer a:hover{text-decoration:underline; color:#2eb2fe;}

.ttt{font-size:22px;
color:#FFF;}

ul.footer_ul{padding:0px;
margin:0px;
margin-top:15px;}

ul.footer_ul li{list-style:none; padding-bottom:5px;}
#footer ul.footer_ul a{color:#FFF;}

.pad-nn{padding-bottom:10px;}

.trtt{font-size:18px;}

@media screen and (max-width: 1200px) {
#login{
background-image:url(../images/login_.png);
background-repeat:no-repeat;
background-position:0px 30px;}

#cart{
background-image:url(../images/cart_.png);
background-repeat:no-repeat;
background-position:4px 30px;}

.total{
margin-top:2px;
margin-left:0px;}

}


@media screen and (max-width: 1000px) {

input.search, input.search:focus{
border-color:#dbdbdb; 
border-width:1px; 
border-style:solid;}

.btn-search, .btn-search:focus{
border-top-color:#dbdbdb;
border-top-width:1px; 
border-top-style:solid;

border-bottom-color:#dbdbdb;
border-bottom-width:1px; 
border-bottom-style:solid;}

#login{
background-image:url(../images/login.png);
background-repeat:no-repeat;
background-position:25px 20px;
text-align:left;
padding-left:65px;}

#cart{
background-image:url(../images/cart.png);
background-repeat:no-repeat;
background-position:5px 15px;
text-align:left;
padding-left:45px;}

.total{
background-color:#1393e7; 
border-radius:13px;
width:26px;
height:26px;
text-align:center;
padding:3px;
color:#FFF;
margin-top:10px;
margin-left:1px;}
}

.h90{height:90px;}

@media screen and (max-width: 780px) {
	
body{
font-family: 'ClearSansRegular';
background-image:none;
background-repeat:repeat-x;
background-color:#f0f0f0;
color:#313131;}	

.wh{background-color:#FFF;
border-top-color:#1894c6;
border-top-width:8px;
border-top-style:solid;}

#head-1{min-height:170px;
background-color:#FFF;
background-image:url(../images/logo_320.png);
background-position:center center;
background-repeat:no-repeat;}

.left-b{position:absolute;}

.navbar-header{margin-top:-10px;}

#phone{font-size:18px; padding-top:10px; padding-bottom:10px; float:right;}

.navbar-toggle{float:left;}
.navbar-collapse{z-index:9999; position:absolute; background-color:#FFF; min-width:300px;}
ul.nav{margin:0px; padding:0px; float:left;}

.block_h{height:105px;}


#login{
background-image:url(../images/login.png);
background-repeat:no-repeat;
background-position:35px 20px;
text-align:left;
padding-left:85px;
border-width:0px;}

.content p{text-align:left;}

#cart{
background-image:url(../images/cart.png);
background-repeat:no-repeat;
background-position:5px 15px;
text-align:left;
padding-left:45px;
border-width:0px;}

#title_xx{text-align:center;}

#block_line_1{padding-top:20px; padding-bottom:20px;}

#news_xx{padding-top:30px;}

#footer .pad-nn{text-align:center;}
#footer #xx320{text-align:center;}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    padding-top: 40%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

.img_box{max-width:320px;
min-height:190px;
border-bottom-color:#f0f0f0;
border-bottom-width:2px;
border-bottom-style:solid;}

.ppn{padding:0px;}


}

@media screen and (max-width: 330px) {
.fix-bag{margin-left:-8px;}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    padding-top: 65%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

}

/*320*/

